<!DOCTYPE html>
<html lang='zh-cmn-Hans'>
  <head>
    <title>title</title>
    <meta charset='utf-8'>
    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui' />
    <link rel='stylesheet' type='text/css' href='/dist/css/core.css' />
    <script type='text/javascript' charset='utf-8'>var deviceWidth=window.screen.width>0&&window.innerWidth<=window.screen.width?window.screen.width:window.innerWidth,htmlFontSize=deviceWidth>1080?144:deviceWidth/7.5;htmlFontSize=htmlFontSize>32?htmlFontSize:32;document.getElementsByTagName('html')[0].style.fontSize=htmlFontSize+'px';</script>
  </head>
  <body>

  <div id='app'></div>

  <!-- vue -->
  <script type='text/javascript' charset='utf-8' src='//cdn.bootcss.com/vue-router/2.2.0/vue-router.js'></script>
  <script type='text/javascript' charset='utf-8' src='//cdn.bootcss.com/vuex/2.1.1/vuex.js'></script>
  <script type='text/javascript' charset='utf-8' src='//cdn.bootcss.com/vue/2.1.10/vue.js'></script>

  <!-- other -->
  <script type='text/javascript' charset='utf-8' src='//cdn.bootcss.com/zepto/1.2.0/zepto.min.js'></script>

  <!-- core -->
  <script type='text/javascript' charset='utf-8' src='commons.js'></script>
  <script type='text/javascript' charset='utf-8' src='bundle.js'></script>

  </body>
</html>
